:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  padding-top: 0.5em;
}

/* make pdate__email__modal a separate modal */
#update__email__modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#update__email__modal__content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#update__email__modal__close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#update__email__modal__close:hover,
#update__email__modal__close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#update__email__modal__header {
  padding: 2px 16px;
}

#update__email__modal__body {
  padding: 2px 16px;
}

#update__email__modal__footer {
  padding: 2px 16px;
  text-align: center;
}

#update__email__modal__footer__button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

#update__email__modal__footer__button:hover {
  background-color: #45a049;
}

#title__div:hover {
  animation: wiggle 1s ease-in-out;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* shift the button when clicked */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  position: relative;
  overflow: hidden;
  outline: none;
}
button:hover {
  border-color: #646cff;
}
button:active {
  outline: 4px auto -webkit-focus-ring-color;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0;
  transform: scale(0);
  transition: all 0.3s ease;
}

button:hover::before {
  opacity: 0.1;
  transform: scale(3);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
